<%if(locals.lastVisit){%>
<div class="alert alert-primary">
    Your Last Visit was on : <%=locals.lastVisit%>
</div>
<%}%>
<h1 class="mt-5 mb-4 header">results</h1>

<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Image</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <% results.forEach((result)=>{%>
        <tr>
            <th><%=result.id%></th>
            <td><%=result.name%></td>
            <td><%=result.descp%></td>
            <td scope="col"><%=result.price%></td>
            <td>
                <img width="170" src="<%=result.imageUrl%>" />
            </td>
            <td>
                <a
                    href="/update-result/<%= result.id %>"
                    class="btn btn-warning"
                    >Update</a
                >
                <!-- <a href="/delete-result/<%= result.id %>" class="btn btn-danger"
              >Delete</a> -->
                <button
                    class="btn btn-danger"
                    onclick="deleteProd('<%= result.id %>')"
                >
                    Delete result
                </button>
            </td>
        </tr>
        <% })%>
    </tbody>
</table>
